@import url(/css/homepage.css);
@import url(/css/header.css);
@import url(/css/footer.css);
@import url(/css/variable.css);

body {
  font-family: "Nunito", sans-serif;
  margin: unset;
}

.cursor-pointer {
  cursor: pointer;
}

.text-dec-none {
  text-decoration: none;
}
