@import url(/css/homepage.css);
@import url(/css/header.css);
@import url(/css/footer.css);
@import url(/css/variable.css);
@import url(/css/util.css);

body {
  font-family: "Nunito", sans-serif;
  margin: unset;
}

/* card class to implement the hover functionality */
.card-scale:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}

@media (max-width: 768px) {
  body {
    font-size: small;
  }

  .logo {
    font-size: var(--fs-sm);
  }

  .carousel {
    height: 40vh;
    width: 100%;
  }

  .landscape-overcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-xl);
    width: 100%;
    margin-left: unset;
  }
  .overlay-solid-card {
    font-size: var(--fs-sm);
    height: 15%;
    width: 50%;
    padding: var(--spacing-sm);
    justify-self: center;
    position: unset;
    align-self: center;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .overlay-solid-card {
    height: 20%;
    width: 40%;
  }
}
