@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Gideon+Roman&family=Nunito:wght@200&display=swap");

.copyright-text {
  padding: 0 var(--spacing-xs);
  justify-content: space-between;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding-top: var(--spacing-md);
  margin-top: auto;
}

.footer-list {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xs);
  list-style: none;
  padding-left: unset;
}

.footer-icon {
  color: var(--primary-color);
}

.footer-icon:hover {
  transform: scale(1.2);
}

.footer-link {
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.footer-link:hover {
  border-bottom: 2px solid var(--primary-color);
}

@media screen and (max-width: 480px) {
  .footer-grid {
    display: block;
    margin-top: auto;
  }
  .footer-grid > .display-block > .footer-list {
    flex-wrap: wrap;
  }

  .footer-grid > .display-block {
    padding: var(--spacing-3xs) var(--spacing-xs);
  }
  .copyright-text {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3xs);
    padding: var(--spacing-3xs);
  }
}
