.filter {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: var(--spacing-sm);
  background-color: var(--primary-color-bg);
}

.filter-head {
  justify-content: space-between;
  align-items: center;
}

.price-range {
  justify-content: center;
  width: 80%;
}

.price-values {
  list-style: none;
  padding-left: unset;
  margin: unset;
  justify-content: space-between;
}

input[type="range"]::-webkit-slider-runnable-track {
  color: var(--primary-color);
}
