.filter {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: var(--spacing-sm);
  background-color: var(--primary-color-bg);
}

.filter-head {
  justify-content: space-between;
  align-items: center;
}

.display-wrap {
  width: 12rem;
}

input[type="range"]::-webkit-slider-runnable-track {
  color: var(--primary-color);
}

@media screen and (max-width: 480px) {
  .filter {
    display: none;
  }
}
