.main-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.card-ecom {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 25rem;
  min-height: 7rem;
  width: 18rem;
  min-width: 10rem;
  box-shadow: var(--shadow-subtle);
  position: relative;
}

.card-ecom > img {
  margin-top: var(--spacing-2xs);
  width: 94%;
  height: 70%;
}

.cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  width: 90%;
  /* check it out */
  margin: var(--spacing-2xs) 5% var(--spacing-xs) 5%;
  gap: var(--spacing-xs);
  padding: var(--spacing-2xs);
  border: none;
  background-color: var(--primary-color-bg);
}

.card-badge {
  left: 5%;
}

.like-btn {
  border: none;
  border-radius: 50%;
  background-color: var(--primary-color-bg);
  position: absolute;
  top: 58%;
  right: 5%;
}

.product-details {
  width: 100%;
  padding: var(--spacing-2xs) var(--spacing-xs) 0;
}
